html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-image: url("./images/fondo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Inter', sans-serif;
    color: whitesmoke;
    font-weight: 400;
    font-size: 2vw; /* Ajuste relativo para responsividad */
    line-height: 1.5;
    padding: 20px; /* Ajuste de padding */
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
    padding: 20px; /* Espacio interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    margin: 0 auto; /* Centra el contenedor */
    max-width: 1200px; /* Ancho máximo */
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo {
    width: 10vw; /* Ajuste relativo para responsividad */
}

.textoheader {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: white;
}

main {
    display: flex;
    flex-direction: column; /* Cambia a columna para pantallas pequeñas */
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.section1, .section2 {
    flex: 1;
    background-color: rgba(240, 240, 240, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.text-area, .mensaje {
    width: 100%;
    margin-bottom: 20px;
}

.informacion {
    margin-bottom: 10px;
}

.botones {
    display: flex;
    gap: 10px;
}

.text-area {
    border: none;
    color: #0A3871;
    margin-top: 20px;
    text-transform: lowercase;
}

::placeholder {
    color: #0A3871;
}

.text-area:focus {
    outline: none;
}

.mensaje {
    background: white;
    background-image: url("./images/Muneco.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-top: 20px;
    padding-left: 20px;
    position: relative;
}

.mensaje:focus {
    outline: none;
}

.btn-encriptar, .btn-desencriptar, .btn-copiar {
    width: 100%;
    height: 50px;
    margin-top: 10px;
}

.btn-encriptar {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
}

.btn-desencriptar {
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
}

.btn-copiar {
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    margin-top: 20px;
    position: relative;
}

.logoreservado {
    padding-top: 3px;
    margin-right: 1px;
    width: 3.5%;
    vertical-align: middle;
}

.JDRR7 {
    font-weight: bold;
    color: blue;
}